# Postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=bash_n_build

# Server
PORT=5000
DATABASE_URL=postgres://postgres:postgres@localhost:5432/bash_n_build
JWT_SECRET=supersecret_key_change_in_production

# Client
NEXT_PUBLIC_API_URL=http://localhost:5000
